body {
  margin: 0;
  overflow: hidden;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}

/* OTP */
#otpScreen {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 20;
}

#otpInput {
  padding: 8px;
  font-size: 20px;
  width: 200px;
}

/* Score */
#info {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  z-index: 15;
  display: none;
}

/* Canvas fullscreen */
canvas {
  width: 100vw;
  height: 100vh;
  display: none;
  background: #222;
}

/* Game Over */
#gameOverScreen {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  z-index: 25;
}

#restartBtn {
  padding: 12px 30px;
  font-size: 20px;
  background: #00c853;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
